<div class="card has-background-grey-lighter">

  <header class="card-header">

    <p class="card-header-title">
      <span class="icon-text">
        <span class="icon">
          <fa-icon [icon]="this.iconService.iconGear"></fa-icon>
        </span>
        <span>Configure Gear</span>
        @if (calculated) {
          <span class="icon has-text-success">
            <fa-icon [icon]="this.iconService.iconSuccess"></fa-icon>
          </span>
        }
      </span>
    </p>

    <button class="card-header-icon" aria-label="more options" (click)="expand()">
      <span class="icon">
        <fa-icon [icon]="iconIsExpanded"></fa-icon>
      </span>
    </button>

  </header>

  @if (isExpanded) {
    <div class="card-content">
      <div class="columns is-multiline is-6">
        <div class="column is-full">
          <div class="columns is-multiline is-3">
            <div class="column is-full">
              <h1 class="is-size-3">
                <span class="icon-text">
                  <span class="icon">
                    <fa-icon [icon]="this.iconService.iconEnhancements"></fa-icon>
                  </span>
                  <span>Enhancements</span>
                </span>
              </h1>
            </div>
            <div class="column is-full">
              <app-select-item-rating [ItemRatings]="this.bistor.itemRatingEnhancements" [Icon]="this.iconService.iconEnhancements" (SelectedItemRating)="this.setItemRatingEnhancements($event)"></app-select-item-rating>
            </div>
            <div class="column is-full">
              <app-select-item-types [ItemTypes]="this.bistor.enhancementsItemTypes" [Icon]="this.iconService.iconEnhancements" (ChosenItemTypes)="this.setChosenEnhancementsItemTypes($event)"></app-select-item-types>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="columns is-multiline is-3">
            <div class="column is-full">
              <h1 class="is-size-3">
                <span class="icon-text">
                  <span class="icon">
                    <fa-icon [icon]="this.iconService.iconSetBonus"></fa-icon>
                  </span>
                  <span>Set Bonus</span>
                </span>
              </h1>
            </div>
            <div class="column is-full" >
              <app-select-item-rating [ItemRatings]="this.bistor.itemRatingSetBonus" [Icon]="this.iconService.iconSetBonus" [Disabled]="!showFirstSetBonus" (SelectedItemRating)="setItemRatingSetBonus($event)"></app-select-item-rating>
            </div>
            @if (showFirstSetBonus) {
              <div class="column is-full">
                <app-select-set-bonus-item-types [NumberOfSetBonus]="1" [setBonus]="this.firstSetBonus" [Icon]="this.iconService.iconSetBonus" (Change)="firstSetBonusChange($event)"></app-select-set-bonus-item-types>
              </div>
            }
            @if (showSecondSetBonus) {
              <div class="column is-full">
                <app-select-set-bonus-item-types [NumberOfSetBonus]="2" [setBonus]="this.secondSetBonus" [Icon]="this.iconService.iconSetBonus" (Change)="false"></app-select-set-bonus-item-types>
              </div>
            }
          </div>
        </div>
        <div class="column is-full">
          <div class="columns is-multiline is-3">
            <div class="column is-full">
              <h1 class="is-size-3">
                <span class="icon-text">
                  <span class="icon">
                    <fa-icon [icon]="this.iconService.iconAugments"></fa-icon>
                  </span>
                  <span>Augments</span>
                </span>
              </h1>
            </div>
            <div class="column is-full">
              <app-select-item-rating [ItemRatings]="this.bistor.itemRatingAugments" [Icon]="this.iconService.iconAugments" (SelectedItemRating)=this.setItemRatingAugments($event)></app-select-item-rating>
            </div>
            <div class="column is-full">
              <app-select-item-types [ItemTypes]="this.bistor.augmentsItemTypes" [Icon]="this.iconService.iconAugments" (ChosenItemTypes)="this.setChosenAugmentsItemTypes($event)"></app-select-item-types>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="columns is-multiline is-3">
            <div class="column is-full">
              <h1 class="is-size-3">
                <span class="icon-text">
                  <span class="icon">
                    <fa-icon [icon]="this.iconService.iconStim"></fa-icon>
                  </span>
                  <span>Stim</span>
                </span>
              </h1>
            </div>
            <div class="column is-full">
              <app-select-item-rating [ItemRatings]="this.bistor.itemRatingStims" [Icon]="this.iconService.iconStim" (SelectedItemRating)="this.setItemRatingStim($event)"></app-select-item-rating>
            </div>
            <div class="column is-full">
              <app-select-stim-item-types [StimItemTypes]="this.bistor.stimsItemTypes" [Icon]="this.iconService.iconStim" (ChosenStimItemTypes)="this.setChosenStimItemTypes($event)"></app-select-stim-item-types>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  @if (isExpanded) {
    <footer class="card-footer">
      @if (!isCalculating) {
        <div class="card-footer-item">
          <button class="button is-primary is-fullwidth" [disabled]="!showFirstSetBonus" (click)="calculate()">
            <span class="icon-text">
              <span class="icon">
                <fa-icon [icon]="this.iconService.iconCalculate"></fa-icon>
              </span>
              <span>Calculate</span>
            </span>
          </button>
        </div>
      }
      @if (isCalculating) {
        <div class="card-footer-item">
          <progress class="progress is-large is-warning" max="100">60%</progress>
        </div>
      }
    </footer>
  }

</div>