@if ( this.numberOfPages > 0 ) {

  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">

    <button class="pagination-previous" (click)="this.previousPage()" [disabled]="this.previousDisabled()">Previous</button>
    <button class="pagination-next" (click)="this.nextPage()" [disabled]="this.nextDisabled()">Next page</button>

    <ul class="pagination-list">

      @for (page of this.getNumbers(); track $index) {

        <li>
          <button class="pagination-link" [attr.aria-label]="this.writeAriaLabel(page)" [class.is-current]="this.getIsSelected(page)" (click)="this.selectPage(page)">{{page}}</button>
        </li>

      }

    </ul>

  </nav>



}
<!--
<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
  <button class="pagination-previous">Previous</button>
  <button class="pagination-next">Next page</button>
  <ul class="pagination-list">
    <li>
      <button class="pagination-link" aria-label="Goto page 1">1</button>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <button class="pagination-link" aria-label="Goto page 45">45</button>
    </li>
    <li>
      <button
        class="pagination-link is-current"
        aria-label="Page 46"
        aria-current="page"
        >46</button>
    </li>
    <li>
      <button class="pagination-link" aria-label="Goto page 47">47</button>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <button class="pagination-link" aria-label="Goto page 86">86</button>
    </li>
  </ul>
</nav>
-->