<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{labelNumberOfSetBonus}}</label>
    </div>
    <div class="field-body">
        <div class="field has-addons">
            <div class="control is-expanded">
                <div class="select is-fullwidth">
                    <select [disabled]="!disabled" [(ngModel)]="selectedItemType">
                        <option *ngFor="let itemType of itemTypes">
                            {{itemType}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="control">
            <button class="button" [class.is-warning]="update" [class.is-success]="!update" [disabled]="!disabled" (click)="addSetBonus()">{{labelSelectUpdate}} {{labelNumberOfSetBonus}}</button>
        </div>
    </div>


</div>
