<div class="field is-horizontal">
    
    <div class="field-label is-normal">
        <label class="label">
            <span class="icon-text">
                <span class="icon" [class]="this.iconService.getIconColor(this.itemType)">
                    <fa-icon [icon]="iconService.getIcon(this.itemType)"></fa-icon>
                </span>
                <span>{{this.itemType}}</span>
            </span>
        </label>
    </div>

    <div class="field-body">

        <div class="field is-grouped">
        
            <p class="control is-expanded has-icons-left">
            
                <input class="input" type="number" placeholder="Minimum" [(ngModel)]="this.selectedMinimum" [min]="this.minimum" [max]="this.selectedMaximum" (ngModelChange)="changeMinimum()">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="this.iconService.iconLimitMinimum"></fa-icon>
                </span>
            
            </p>

            <p class="control is-expanded has-icons-right">

                <input class="input" type="number" placeholder="Minimum" [(ngModel)]="this.selectedMinimumInPercent" [min]="this.minimumInPercent" [max]="this.selectedMaximumInPercent" (ngModelChange)="changeMinimumInPercent()">
                <span class="icon is-small is-right">
                    <fa-icon [icon]="this.iconService.iconPercent"></fa-icon>
                </span>

            </p>

            <p class="control is-expanded has-icons-right">
            
               <input class="input" type="number" placeholder="Maximum" [(ngModel)]="this.selectedMaximum" [min]="this.selectedMinimum" [max]="this.maximum" (ngModelChange)="changeMaximum()">
               <span class="icon is-small is-right">
                   <fa-icon [icon]="this.iconService.iconLimitMaximum"></fa-icon>
               </span>
           
            </p>

             <p class="control is-expanded has-icons-right">
            
               <input class="input" type="number" placeholder="Maximum" [(ngModel)]="this.selectedMaximumInPercent" [min]="this.selectedMinimumInPercent" [max]="this.maximumInPercent" (ngModelChange)="changeMaximumInPercent()">
               <span class="icon is-small is-right">
                   <fa-icon [icon]="this.iconService.iconPercent"></fa-icon>
               </span>
           
            </p>
        
        </div>

    </div>

</div>