<div class="field is-horizontal">
    
    <div class="field-label is-normal">
        <label class="label">
            <span class="icon-text">
                <span class="icon" [class]="this.iconService.getIconColor(this.itemType)">
                    <fa-icon [icon]="iconService.getIcon(this.itemType)"></fa-icon>
                </span>
                <span>{{this.itemType}}</span>
            </span>
        </label>
    </div>

    <div class="field-body">

        <div class="field is-grouped">
        
            <div class="control is-expanded has-icons-left">
            
                <input class="input" type="number" placeholder="Minimum" [(ngModel)]="this.selectedMinimum" [min]="this.minimum" [max]="this.selectedMaximum" (ngModelChange)="changeMinimum()" [disabled]="this.disabledInputMinimum">
                <span class="icon is-small is-left">
                    <fa-icon [icon]="this.iconService.iconLimitMinimum"></fa-icon>
                </span>
                @if( this.showHelperMinimum ) {
                    <p class="help is-danger">{{this.helperMinimum}}</p>
                }
            </div>
            

            <div class="control is-expanded has-icons-right">

                <input class="input" type="number" placeholder="Minimum" [(ngModel)]="this.selectedMinimumInPercent" [min]="this.minimumInPercent" [max]="this.selectedMaximumInPercent" (ngModelChange)="changeMinimumInPercent()" [disabled]="this.disabledInputMinimumPercent">
                <span class="icon is-small is-right">
                    <fa-icon [icon]="this.iconService.iconPercent"></fa-icon>
                </span>
                @if( this.showHelperMinimumPercent ) {
                    <p class="help is-danger">{{this.helperMinimumPercent}}</p>
                }
            </div>

            <div class="control is-expanded has-icons-right">
            
                <input class="input" type="number" placeholder="Maximum" [(ngModel)]="this.selectedMaximum" [min]="this.selectedMinimum" [max]="this.maximum" (ngModelChange)="changeMaximum()" [disabled]="this.disabledInputMaximum">
                <span class="icon is-small is-right">
                    <fa-icon [icon]="this.iconService.iconLimitMaximum"></fa-icon>
                </span>
                @if( this.showHelperMaximum ) {
                    <p class="help is-danger">{{this.helperMaximum}}</p>
                }
            </div>

            <div class="control is-expanded has-icons-right">
            
                <input class="input" type="number" placeholder="Maximum" [(ngModel)]="this.selectedMaximumInPercent" [min]="this.selectedMinimumInPercent" [max]="this.maximumInPercent" (ngModelChange)="changeMaximumInPercent()" [disabled]="this.disabledInputMaximumPercent">
                <span class="icon is-small is-right">
                    <fa-icon [icon]="this.iconService.iconPercent"></fa-icon>
                </span>
                @if( this.showHelperMaximumPercent ) {
                    <p class="help is-danger">{{this.helperMaximumPercent}}</p>
                }
            </div>
        
        </div>

    </div>

</div>