<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Item Rating</label>
    </div>
    <div class="field-body">
        
        <div class="field has-addons">
            <div class="control is-expanded">
                <div class="select is-fullwidth">
                    <select [(ngModel)]="selectedItemRating" [disabled]="itemRatingIsSelected">
                        <option *ngFor="let itemRatingAugment of bistor.itemRatingAugments">
                            {{itemRatingAugment}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="control">
                <button class="button" [class.is-warning]="itemRatingIsSelected" [class.is-success]="!itemRatingIsSelected" (click)="selectItemRating()">{{chooseItemRating}}</button>
            </div>            
        </div>

    </div>    
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Augment Type</label>
    </div>
    <div class="field-body">

        <div class="field has-addons">    
            <div class="control is-expanded">
                <div class="select is-fullwidth">
                    <select [(ngModel)]="selectedAugmentType" [disabled]="!itemRatingIsSelected || noAugmentTypeAvailableAnymore">
                        <option *ngFor="let augmentItemType of augmentItemTypes">
                            {{augmentItemType}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="control">
                <button class="button is-success" [disabled]="!itemRatingIsSelected || noAugmentTypeAvailableAnymore" (click)="addAugment()">Add Augment</button>
            </div>
        </div>

    </div>
</div>

<div class="block" *ngIf="showChosenAugments">

    <div class="content">

        <h2>Chosen Augments</h2>
        
        <ul>
            <li *ngFor="let augment of chosenAugments">
                {{augment.itemRating}} {{augment.itemType}} {{augment.tertiaryStat}}
            </li>
        </ul>
    </div>


</div>