<div class="field is-horizontal">

    <div class="field-label">

        <label class="label">

            <span class="icon-text">
                <span class="icon">
                    <fa-icon [icon]="icon"></fa-icon>
                </span>
                <span>Chose Item Types</span>
            </span>

        </label>

    </div>

    <div class="field-body">

        <div class="field">

            <div class="control">

                
                <div class="fixed-grid has-auto-count">
                    
                    <div class="grid">

                        <div class="cell" *ngFor="let itemType of itemTypes">

                    <div class="level">

                        <div class="level-left">
                    
                    
                    <label class="checkbox level-item" >
                        <input type="checkbox" (change)="change(itemType)" [checked]="this.chosenItemType.get(itemType)"/>
                        <span class="icon-text">
                            <span class="icon" [class]="this.iconService.getIconColor(itemType)">
                                <fa-icon [icon]="this.iconService.getIcon(itemType)"></fa-icon>
                            </span>
                            <span>{{itemType}}</span>
                        </span>
                    </label>



                        </div>

                        </div>

                    </div>
                    
                    
                    </div>

                </div>

                

            </div>

        </div>

    </div>


</div>