<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Set Bonus?</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="firstSetBonus" (change)="changeSetBonus()"/>
                    Yes
                </label>
            </div>
        </div>
    </div>
</div>

<app-select-set-bonus [disabled]="firstSetBonus" [numberOfSetBonus]="1" [itemTypes]="setBonusEnhancementTypes" (outputEventEmitter)="addFirstSetBonus($event)"></app-select-set-bonus>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">2. Set Bonus?</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" [(ngModel)]="secondSetBonus" [disabled]="!askSecondSetBonus" (change)="changeSecondSetBonus()"/>
                    Yes
                </label>
            </div>
        </div>
    </div>
</div>

<app-select-set-bonus [disabled]="secondSetBonus" [numberOfSetBonus]="2" [itemTypes]="setBonusEnhancementTypes" (outputEventEmitter)="addSecondSetBonus($event)"></app-select-set-bonus>
