<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

  <main class="container has-text-centered">
    <h1 class="title">
      {{title}}
    </h1>
    <p class="subtitle">
      The Best in Slot Calculator for SWTOR
    </p>
    <div class="container">
      <app-stattable></app-stattable>
    </div>
    

  </main>
    

  <router-outlet />
</body>
</html>



