<nav class="navbar is-fixed-top has-background-warning-light">

  <div class="navbar-brand">
    <div class="navbar-item">
      {{title}} - The Best in Slot Calculator for SWTOR
    </div>

  </div>
   
</nav>

  

<main class="container">
    
   
  <section>
    <div class="mt-6">
        
      <app-bistor></app-bistor>
        
    </div>      
  </section>
    

</main>

  <!--
  <footer class="footer has-background-warning-light">
    <div class="content has-text-centered">
      <p>
        <strong>{{title}}</strong>
      </p>
    </div>
  </footer>
  -->  
  

<router-outlet />
