<div class="table-container">
  <table class="table is-bordered is-striped">
    <thead>
      <th></th>
      @for (itemType of necessaryItemTypes; track itemType) {
        <th (click)="sortByHeader(itemType)"><abbr title="{{itemType}}">{{itemType}}</abbr></th>
      }
    </thead>
    <tbody>
      @for (result of showResults; track result) {
        <tr>
          <th><app-result [result]="result"></app-result></th>
          @for (itemType of necessaryItemTypes; track itemType) {
            <td>
              {{this.getPercent(result, itemType)}} ({{result.getValue(itemType)}}) [{{this.getRating(result, itemType)}}]
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>