<div class="columns">
  <div class="column is-one-half">
    <div class="box">
        <div class="level">
            <p class="card-header-title">Enhancement</p>
        </div>
      
        <div class="level">
            <div class="field">
                <label class="label">Item Rating</label>
                <div class="constrol">
                    <div class="select">
                        <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                    </div>
                </div>
                <p class="help has-text-danger">Item Rating is required</p>
            </div>
        </div>

        <div class="level">
            <button class="button">Add Enhancement</button>
        </div>

    </div>

  </div>

</div>
