<div class="columns">
    <div class="column is-full">
        <app-spreadsheet (Results)="resultsCalculated($event)" (Modifiers)="receiveModifiers($event)"></app-spreadsheet>
    </div>
</div>

@if ( this.calculated ) {

<div class="columns">
    <div class="column is-full">
        <app-limits [Results]="this.results" [Modifiers]="this.modifiers" (limitedResults)="this.showLimitedResults($event)"></app-limits>
    </div>
</div>

}

@if( this.limitedResults.length != 0 ) {

<div class="columns">
    <div class="column is-full">
        <app-table [Results]="this.limitedResults" [Modifiers]="this.modifiers"></app-table>
    </div>
</div>

}