<div>
    <span class="icon-text">
        <span class="icon" [class]="this.iconService.getIconColor(this.stim.itemType)" [attr.data-tooltip]="this.stim.tertiaryStat">
            <fa-icon [icon]="this.iconService.getIcon(this.stim.itemType)"></fa-icon>
        </span>
        <span> / </span>
        <span class="icon" [class]="this.iconService.getIconColor(this.stim.secondItemType)" [attr.data-tooltip]="this.stim.secondStat">
            <fa-icon [icon]="this.iconService.getIcon(this.stim.secondItemType)"></fa-icon>
        </span>
    </span>
</div>