<div class="table-container">
    <table class="table is-bordered is-striped">
        <thead>
            <th></th>
            <th *ngFor="let itemType of necessaryItemTypes" (click)="sortByHeader(itemType)"><abbr title="{{itemType}}">{{itemType}}</abbr></th>
        </thead>
        <tbody>
            <tr *ngFor="let result of showResults">
                <th><app-result [result]="result"></app-result></th>
                <td *ngFor="let itemType of necessaryItemTypes">
                    {{this.getPercent(result, itemType)}} ({{result.getValue(itemType)}})
                </td>
            </tr>
        </tbody>
    </table>
</div>